.App {
  max-width: fit-content;
  margin: 30px auto;

}

footer {
  font-size: 11px;
  margin: 10px;
  text-align: center;
  color: var(--secondary-font-color);
  background-color: var(--main-background-color);
  border: 1px solid grey;
  border-radius: 10px;
}
