:root {
  --main-font: #arial, sans-serif;
  --main-font-color: #bcbcb2;
  --secondary-font-color: #bcbcb2;
  --main-background-color: #0a2441;
  --secondary-background-color: rgb(13, 110, 253);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-font-color);
  overflow-x: hidden;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 481px) {
  body {
    background-image: url("/images/mobile-background.jpg");
  }
}

@media (min-width: 482px) and (max-width: 1368px) {
  body {
    background-image: url("/images/mobile-background.jpg");
  }
}

@media (min-width: 1369px) {
  body {
    background-image: url("/images/desktop-background.jpg");
  }
}
