:root {
  --main-font: #arial, sans-serif;
  --main-font-color: #bcbcb2;
  --secondary-font-color: #bcbcb2;
  --main-background-color: #0a2441;
  --secondary-background-color: rgb(13, 110, 253);
}

body {
  font-family: var(--main-font);
  color: var(--main-font-color);
  overflow-x: hidden;
}

@media (min-width: 1025px) {
  body {
    background-image: url("/public/images/desktop-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 482px) and (max-width: 1024px) {
  body {
    background-image: url("/public/images/mobile-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 481px) {
  body {
    background-image: url("/public/images/mobile-background.jpg");
  }
}
